* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 1px solid red; */
}

/* FONTS */
.font-questrial {
  font-family: "Questrial", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-works {
  font-family: "Work Sans", sans-serif;
}

/* COLORS */
.color-main {
  color: #002147;
}
.bg-main {
  background-color: #002147;
}
.color-second {
  color: #ffd659;
}
.bg-second {
  background-color: #ffd659;
}
.color-black {
  color: #100c08;
}
.bg-black {
  background-color: #100c08;
}
.color-grey {
  color: #b2b3b5;
}
.bg-grey {
  background-color: #b2b3b5;
}

/* buttons */
.btn-main {
  background-color: #002147;
  color: #fff;
}

.btn-main:hover,
.btn-main:active,
.btn-main:link {
  background-color: #fff;
  color: #002147;
  border: 1px solid #002147;
}

.btn-main-outline {
  background-color: transparent;
  border: 1px solid #002147;
  color: #002147;
}

.btn-main-outline:hover,
.btn-main-outline:active,
.btn-main-outline:link {
  background-color: #fff;
  border: none;
  color: #002147;
}

.btn-second {
  background-color: #ffd659;
  color: #002147;
}

.btn-second:hover,
.btn-second:active,
.btn-second:link {
  background-color: #fff;
  color: #002147;
}

.btn-second-outline {
  background-color: transparent;
  border: 1px solid #ffd659;
  color: #ffd659;
}

.btn-second-outline:hover,
.btn-second-outline:active {
  background-color: #ffd659;
  color: #002147;
}

.nav-link:hover {
  color: #002147 !important;
  border-bottom: 3px solid #002147;
}

.active {
  border-bottom: 3px solid #ffd659;
  color: #002147 !important;
}
.active:hover {
  border-bottom: 3px solid #ffd659;
  color: #002147 !important;
}

.main-navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#main-logo {
  width: 14rem;
}

@media (max-width: 480px) {
  #main-logo {
    width: 9rem;
  }
}

#hero-section {
  background-image: linear-gradient(rgba(0, 33, 71, 0.8), rgba(0, 33, 71, 0.8)),
    url(/images/hero-section.webp);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.service-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.our-features-image {
  height: 93vh;
  width: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  .our-features-image {
    height: auto;
    object-fit: cover;
  }
}

.form-control {
  border-color: #002147;
}

/* For most modern browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#offcanvasScrolling {
  width: 90%;
}
